.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.header a{
    text-decoration: none;
    color: white;
    
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links button {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: #FFFFFF;
    text-transform: capitalize;
    transition: color 0.3s;
}

.nav-links button:hover {
    color: #007bff;
}
