.hero {
    text-align: center;
    padding: 100px 20px;
    background-color: #282c34;
    color: white;
}

.hero h1 span {
    color: #61dafb;
}

.hero p {
    margin-top: 20px;
    font-size: 1.2em;
}

import React from 'react';
import '../styles/Hero.css';

const Hero = () => {
    return (
        <div className="hero">
            <div className="container">
                <span className="text1">R.M. Rendra Adikara</span>
                <span className="text2">Application Developer | Front-End & Back-End Enthusiast</span>
            </div>
        </div>
    );
};

export default Hero;


