.hero {
    text-align: center;
    padding: 200px 20px;
    background-color: #282c34;
    color: white;
    position: relative;
    height: 100vh;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.title {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
    color: #fff;
}

.subtitle {
    font-size: 25px;
    color: #FFE997;
    margin-top: 20px;
}

.title:hover {
    color: #61dafb;
    transition: color 0.3s ease;
}
