/* Updated Loading.css */
.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #282c34;
    color: #fff;
    overflow: hidden;
}

.loader {
    position: relative;
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8d7958;
    filter: drop-shadow(0 5px 5px currentColor);
    animation: l12 2s infinite steps(7);
}

.loader:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 25px;
    background: radial-gradient(circle, currentColor 70%, transparent 72%);
    box-shadow: 40px 0 0 currentColor, 80px 0 0 currentColor, 120px 0 0 currentColor;
    animation: walk 2s infinite steps(4);
}

@keyframes l12 {
    100% {
        clip-path: inset(0 -30px 0 0);
    }
}

@keyframes walk {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-120px);
    }
}

.loading-text {
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
}
