.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #282c34;
    color: #FFFFFF;
    overflow: hidden;
}

.loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    color: #FFFFFF;
    background: radial-gradient(farthest-side, currentColor calc(100% - 6px), #282c34 calc(100% - 5px) 0);
    -webkit-mask: radial-gradient(farthest-side, #FFFFFF0 calc(100% - 13px), #282c34 calc(100% - 12px));
    border-radius: 50%;
    animation: l19 2s infinite linear;
}

.loader::before,
.loader::after {
    content: "";
    grid-area: 1/1;
    background:
        linear-gradient(currentColor 0 0) center,
        linear-gradient(currentColor 0 0) center;
    background-size: 100% 10px, 10px 100%;
    background-repeat: no-repeat;
}

.loader::after {
    transform: rotate(45deg);
}

.loading-text {
    --w: 10ch;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    line-height: 1.4em;
    letter-spacing: var(--w);
    width: var(--w);
    overflow: hidden;
    white-space: nowrap;
    color: #FFFFFF;
    text-shadow: 
            calc( 0*var(--w)) 0 #FFFFFF, calc(-1*var(--w)) 0 #FFFFFF, calc(-2*var(--w)) 0 #FFFFFF, calc(-3*var(--w)) 0 #FFFFFF, calc(-4*var(--w)) 0 #FFFFFF, 
            calc(-5*var(--w)) 0 #FFFFFF, calc(-6*var(--w)) 0 #FFFFFF, calc(-7*var(--w)) 0 #FFFFFF, calc(-8*var(--w)) 0 #FFFFFF, calc(-9*var(--w)) 0 #FFFFFF;
    animation: l20 2s infinite linear;
}

.dots {
    display: inline-block;
    margin-left: 5px;
    font-weight: bold;
}

.dots span {
    opacity: 0;
    animation: blink 1.5s infinite;
}

.dots span:nth-child(1) {
    animation-delay: 0s;
}

.dots span:nth-child(2) {
    animation-delay: 0.5s;
}

.dots span:nth-child(3) {
    animation-delay: 1s;
}

@keyframes l19 {
    100% {
        transform: rotate(1turn);
    }
}

@keyframes blink {
    0%, 20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes l20 {
    9.09% {
    text-shadow: 
        calc( 0*var(--w)) -10px #FFFFFF, calc(-1*var(--w)) 0 #FFFFFF, calc(-2*var(--w)) 0 #FFFFFF, calc(-3*var(--w)) 0 #FFFFFF, calc(-4*var(--w)) 0 #FFFFFF, 
        calc(-5*var(--w)) 0 #FFFFFF, calc(-6*var(--w)) 0 #FFFFFF, calc(-7*var(--w)) 0 #FFFFFF, calc(-8*var(--w)) 0 #FFFFFF, calc(-9*var(--w)) 0 #FFFFFF;
    }
    
}
