.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Reset and body styles */
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  width: 100vw;
  height: 100vh;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Centering utility */
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Keyframes */
@keyframes outerRotate1 {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes outerRotate2 {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes textColour {
  0% {
    color: #fff;
  }
  100% {
    color: #3BB2D0;
  }
}

/* Loader Holder */
.e-loadholder {
  position: relative;
  width: 240px;
  height: 240px;
  border: 5px solid #1B5F70;
  border-radius: 50%;
  box-sizing: border-box;
}

.e-loadholder:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 200%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #222;
  transform-origin: center;
  animation: outerRotate2 30s infinite linear;
  z-index: 0;
}

/* Main Loader */
.m-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  color: #888;
  text-align: center;
  border: 5px solid #278190;
  border-radius: 50%;
  box-sizing: border-box;
  z-index: 20;
  text-transform: uppercase;
}

.m-loader:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 106%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #222;
  transform-origin: center;
  animation: outerRotate1 15s infinite linear;
  z-index: -1;
}

/* Text Element */
.e-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.4rem;
  line-height: 9.3;
  width: 140px;
  height: 140px;
  text-align: center;
  border: 5px solid #3BB2D0;
  border-radius: 50%;
  box-sizing: border-box;
  z-index: 20;
  animation: textColour 1s alternate linear infinite;
}

.e-text:before,
.e-text:after {
  content: "";
  position: absolute;
  background: #222;
  transform-origin: center;
}

.e-text:before {
  width: 110%;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: outerRotate2 3.5s infinite linear;
}

.e-text:after {
  width: 40px;
  height: 110%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: outerRotate1 8s infinite linear;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
