/* Loader Wrapper */
.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #222;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999; /* Loader di atas semua konten */
  animation: fade-out 0.5s ease-out 2s forwards;
}

@keyframes fade-out {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

/* Loader Elements */
.e-loadholder {
  position: relative;
  width: 240px;
  height: 240px;
  border: 5px solid #1B5F70;
  border-radius: 50%;
  box-sizing: border-box;
}

.e-loadholder:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 200%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #222;
  transform-origin: center;
  animation: outerRotate2 30s infinite linear;
  z-index: 0;
}

.m-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  color: #888;
  text-align: center;
  border: 5px solid #278190;
  border-radius: 50%;
  box-sizing: border-box;
  z-index: 20;
  text-transform: uppercase;
}

.m-loader:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 106%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #222;
  transform-origin: center;
  animation: outerRotate1 15s infinite linear;
  z-index: -1;
}

.e-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.4rem;
  line-height: 6.3;
  width: 140px;
  height: 140px;
  text-align: center;
  border: 5px solid #3BB2D0;
  border-radius: 50%;
  box-sizing: border-box;
  z-index: 20;
  animation: textColour 1s alternate linear infinite;
}

@keyframes outerRotate1 {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes outerRotate2 {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes textColour {
  0% {
    color: #fff;
  }
  100% {
    color: #3BB2D0;
  }
}


.App {
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-in 2s;
}

.App.show {
  opacity: 1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
